<!doctype html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="utf-8">
  <meta http-equiv="x-ua-compatible" content="ie=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Gorillaz</title>
  <link href="css/bootstrap.min.css" rel="stylesheet">
  <link href="css/modern-business.css" rel="stylesheet">
  <link href="font-awesome/css/font-awesome.min.css" rel="stylesheet" type="text/css">
</head>

<body>

<!-- Navigation -->
<nav class="navbar navbar-inverse navbar-fixed-top" role="navigation" >
  <div class="container">
    <!-- Brand and toggle get grouped for better mobile display -->
    <div class="navbar-header">
      <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a class="navbar-brand" href="index.html">Gorillaz</a>
    </div>
    <!-- Collect the nav links, forms, and other content for toggling -->
    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
      <ul class="nav navbar-nav navbar-right">
        <li>
          <a href="/about">About</a>
        </li>
        <li>
          <a href="/login">Login</a>
        </li>
        <li>
          <a href="/productList">Store</a>
        </li>
        <li class="dropdown">
          <a href="/accounts" class="dropdown-toggle" data-toggle="dropdown">Members<b class="caret"></b></a>
          <ul class="dropdown-menu">
            <li>
              <a href="">2D</a>
            </li>
            <li>
              <a href="">Murdoc</a>
            </li>
            <li>
              <a href="">Russell</a>
            </li>
            <li>
              <a href="">Noddle</a>
            </li>

          </ul>
        </li>


      </ul>
    </div>
    <!-- /.navbar-collapse -->
  </div>
  <!-- /.container -->
</nav>

<!-- Page Content -->
<div class="container">

  <!-- Page Heading/Breadcrumbs -->
  <div class="row">
    <div class="col-lg-12">
      <h1 class="page-header">Store
        <small>Gorillaz</small>
      </h1>
      <ol class="breadcrumb">
        <li><a href="index.html">Home</a>
        </li>
        <li class="active">Our Products</li>
      </ol>
    </div>
  </div>
  <!-- /.row -->

  <!-- Intro Content -->
    <div class="page-title">Product List</div>

    <div class="product-preview-container" >
        <ul th:each="album:${albums}">
            <li><div ><img th:src="@{${album.image}}" style="width: 15rem;"></div></li>
            <li>Code: <span th:text="${album.code}"></span></li>
            <li>Name: <span th:text="${album.name}"></span></li>
            <li>Price: <span th:text="${#numbers.formatDecimal(album.price,3,2,'COMMA')}"></span></li>
            <li>
              <a th:href="@{|/buyProduct?code=${album.code}|}">Buy Now</a>
            </li>
<!--             For Manager edit Product-->
            <th:block sec:authorize="hasAuthority('ROLE_MANAGER')">
                <li>
                    <a style="color:red;"
                       th:href="@{|/admin/product?code=${album.code}|}">Edit Product</a>
                </li>
            </th:block>
        </ul>
    </div>

    <br/>




    <!-- Features Section -->

    <!-- /.row -->

    <!-- /.row -->

  <!-- Team Members -->

  <!-- /.row -->

  <!-- Our Customers -->

  <!-- /.row -->

  <hr>

  <!-- Footer -->
  <footer>
    <div class="row">
      <div class="col-lg-12">
        <p>Copyright &copy; Gorillaz</p>
      </div>
    </div>
  </footer>

</div>
<!-- /.container -->

<!-- jQuery -->
<script src="js/jquery.js"></script>

<!-- Bootstrap Core JavaScript -->
<script src="js/bootstrap.min.js"></script>

</body>

</html>
